
__pycache__/continuum_subtraction.cpython-39.pyc
__pycache__/nebula_extraction.cpython-39.pyc
__pycache__/PSF_subtraction.cpython-39.pyc
__pycache__/Voigt.cpython-39.pyc
testing_continuum_sub.ipynb
Voigt.py
*.fits
*.ipynb
24H12/sky_sub.reg
__pycache__/detection.cpython-39.pyc
B0032/continuum_J0034.dat.p
B0032/sky_sub.reg
J1259/sky_sub.reg
